.App {
  display: grid;
  justify-items: center;
  background-color: #0e0b09;
}

.header-app {
  display: flex;
  color: #f4e8b3;
  cursor: pointer;
  font-family:'Times', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: lighter;
  font-size: 1.5rem;
  margin-top: 5rem;
  background-color: #32201876;
  width: fit-content;
  height: fit-content;
  border-radius: 0.2rem;
  padding: 0.1rem;
}

.header-container {
  margin-top: 0.5rem;
  height: 6rem;
  width: 57.5rem;
  margin-bottom: 2rem;
  background-color:#160e0a;
  border-radius: 0.2rem;
  border: solid 0.1rem #0c0704;
}

.topNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.2rem;
  border: solid 0.1rem #0c0704;
  width: 58.5%;
  padding: 0rem 1rem;
  margin-top: -1rem;
  background-color:#160e0a;
}
.topNav input {
  background-color: #32201876;
  font-size: small;
  width: 8rem;
  border: #0c0704 solid 0.01rem;
  border-radius: 0.2rem;
  font-family: 'Times New Roman', Times, serif;
  color: #f4e8b3;
}

.navBtn {
  margin: 0.5rem;
  cursor: pointer;
  background-color: transparent;
  color: #f4e8b3;
  font-family: 'Times New Roman', Times, serif;
  font-size:medium;
  font-weight:lighter;
  border-radius: 0.3rem;
  border: solid 0.01rem #0c0704;
  padding: 0.4rem;
}


.bottomNav {
  position: relative;
  bottom: 0;
  width: 60.5%;
  text-align: center;
  border: solid 0.1rem #0c0704;
  background-color:#160e0a;
}

.bottomNav-text {
  color:#f4e8b3;
  cursor: pointer;
  padding: 1.5rem;
  border-radius: 0.2rem;
  font-family: 'Times New Roman', Times, serif;
}

.link-no-underline {
  text-decoration: none;
  color: inherit;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32rem;
  border: solid 0.1rem #0c0704;
  border-radius: 0.2rem;
  width: 60.5%;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
  font-family: 'Times New Roman', Times, serif;
  color: #f4e8b3;
}

