.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55.5rem;
    height: 30rem;
}
.home-img {
    width: 45%;
    margin:4rem;
    opacity: 80%;
    border-radius: 2rem;
    border: double 0.3rem #0c0704;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.545), 0 6px 20px 0 rgba(0, 0, 0, 0.704);
  }
/* .home-text {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #22140b85;
    width: 30%;
    height: 50%;
    border-radius: 0.5rem;
    border: double 0.3rem #0c0704;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.545), 0 6px 20px 0 rgba(0, 0, 0, 0.704);
} */