
.myPage-btn {
    margin: 0.5rem;
    cursor: pointer;
    background-color: #22140b85;
    color: #8e4212;
    font-family: 'Times New Roman', Times, serif;
    font-size:medium;
    font-weight:lighter;
    border-radius: 0.3rem;
    border: solid 0.01rem #0c0704;
    padding: 0.4rem;
}
.myPage-btn:hover {
    background-color: #43210e72;
}