
.product-list {
    display: flex;
    gap: 2rem;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
  }

  .product-list h3{
    font-weight: lighter;
  }
  
  .product-card {
    border: 1px solid #0c0704;
    padding: 1.2rem;
    border-radius: 0.2rem;
    text-align: center;
    width: 14rem;
    height: 16rem;
    color:#f4e8b3;
    cursor: pointer;
    background-color:#160e0a;
  }
  
  .product-card img {
    max-width: 70%;
    height: auto;
    border-radius: 0.2rem;
  }
  
  .product-card h3 {
    margin: 10px 0;
  }

  .pd-container {
    display: flex;
    gap: 6rem;
    
  }

  .pd-img {
    width: 25rem;
    height: 25rem;
    border-radius: 0.2rem;
    border: 1px solid #0c0704;
    background-color:#160e0a;
  }

  .pd-text {
    display: grid;
    justify-content: center;
    color:#f4e8b3;
    width: 20rem;
    height: 17rem;
    margin-top: 4rem;
    background-color:#160e0a;
    border-radius: 0.2rem;
    border: 1px solid #0c0704;
  }

  .pd-text h2{
    font-weight: lighter;
    display: flex;
    justify-content: center;
    background-color:#160e0a;
  }

  .pd-text div {
    font-weight: lighter;
    display: flex;
    justify-content: center;
    padding: 3rem;
  }

  .pd-text button {
    margin: 0 auto;
    display: block;
  cursor: pointer;
  background-color:#160e0a;
  color: #f4e8b3;
  font-family: 'Times New Roman', Times, serif;
  font-size:medium;
  font-weight:lighter;
  border-radius: 0.3rem;
  border: solid 0.01rem #0c0704;
  padding: 0.5rem;
  width: 10rem;
  }